@import "../../scss/_colors.scss";

.page-header {
    @media only screen and (max-width: 1025px) {
        
    }

    @media only screen and (min-width: 1025px) {
        
    }

    .ui.borderless.fluid.top.fixed.menu {
        box-shadow: none !important;

        .container {
            h1.header {
                line-height: 48px;

                img.headerLogo {
                    cursor: pointer;
                    flex: 1 1;
                    height: 48px;
                    width: 48px;
                }
            }

            .right.item {
                button.secondary {
                    margin-right: 12px;
                }
            }
        }
    }

	.sidebar.ui.labeled.icon.menu .item {
		background: lighten($invertedBackgroundColor, 2%) !important;
		color: $white !important;
        font-weight: bold !important;
        line-height: 24px !important;
        text-align: left !important;

        .icon {
            color: $blue;
            display: inline;
            font-size: 24px !important;
            padding-right: 16px;
            vertical-align: middle;
        }
    }
}
