option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: aaddk0hgxedf0i.cni5l9jtlymn.us-west-2.rds.amazonaws.com
    DB_PORT: 3306
    DB_DATABASE: preditc
    DB_USERNAME: sail
    DB_PASSWORD: rD4bH7wS0uB3cH6kK5dP8lU0mO7aH5xJ

container_commands:
    01-no_dev:
        command: "composer.phar install --optimize-autoloader --no-dev"
    02-config_clear:
        command: "php artisan config:clear"
    03-route_cache:
        command: "php artisan route:cache"
    04-view_cache:
        command: "php artisan view:cache"
    05-migrate: 
        command: "php artisan migrate"
        leader_only: true