@import "../../scss/_colors.scss";

.traderList {
    .card {
        .ui.image {
            width: 100%;
        }

        .placeholderPicWrapper {
            height: 180px;
        }

        .extra {
            .ui.red.label {
                .close.icon {
                    margin: 0 .75em 0 0;
                }
            }
        }
    }
}