@import "../../scss/_colors.scss";

.predictionFormComponent {
    .daysFromNow {
        color: $blue;
        font-weight: bold;
    }

    .dateField {
        .field {
            width: 100% !important;
        }
    }

    .ui.grid.stackable {
        .column.eight.wide {
            &:nth-of-type(2) {
                @media only screen and (max-width: 1025px) {
                    padding-bottom: 0 !important;
                    padding-top: 0 !important;
                }

                textarea {
                    background: $invertedBackgroundColor;
                    border: solid 2px $lightBlue;
					box-shadow: none !important;
					caret-color: $white !important;
					color: $white;
					-webkit-box-shadow: 0 0 0 50px $invertedBackgroundColor inset !important;
                }
            }
        }
    }
}
