@import "../../scss/_colors.scss";

.predictionFormComponent {
    .red {
        color: $red;
    }

    .green {
        color: $green;
    }

    .daysFromNow {
        color: $blue;
        font-weight: bold;
    }

    .dateField {
        .field {
            width: 100% !important;
        }
    }
}
