@import "../../scss/_colors.scss";

.authComponent {
    margin: auto;
    width: 50%;

    .header.huge {
        font-size: 40px;
    }

    @media only screen and (max-width: 1025px) {
        margin-top: 80px !important;

        .header.huge {
            margin-bottom: 0;
        }

        .registerText {
            font-size: 16px !important;
        }
    }

    .authSegment {
        border: none !important;
        margin: 0 auto;

        .error.message {
            margin-bottom: 14px;
        }

        .divider {
            margin-bottom: 16px;
        }
    }

    .footerText {
        margin-top: 4px;

        .footerLink {
            border-bottom: solid 1px $blue;
            cursor: pointer;
            padding-bottom: 3px;
        }
    }

    .forgotText {
        cursor: pointer;
        font-weight: normal !important;
        margin-top: 4px;

        .icon.arrow {
            font-size: 18px !important;
            margin-right: 4px !important;
        }
    }
}