/*---  Colors  ---*/
$red: #eb3b5a;
$orange: #fa8231;
$yellow: #f7b731;
$olive: #6ab04c;
$green: #20bf6b;
$teal: #0fb9b1;
$blue: #3867d6;
$violet: #6435c9;
$purple: #8854d0;
$pink: #e03997;
$brown: #a5673f;
$grey: #a5b1c2;
$black: #1b1c1d;

/*---  Light Colors  ---*/
$lightRed: #fc5c65;
$lightOrange: #fd9644;
$lightYellow: #fed330;
$lightOlive: #badc58;
$lightGreen: #26de81;
$lightTeal: #2bcbba;
$lightBlue: #4b7bec;
$lightViolet: #a291fb;
$lightPurple: #a55eea;
$lightPink: #ff8edf;
$lightBrown: #d67c1c;
$lightGrey: #d1d8e0;
$lightBlack: #545454;

/*---   Neutrals  ---*/
$fullBlack: #000000;
$offWhite: #f9fafb;
$darkWhite: #f3f4f5;
$midWhite: #dcddde;
$white: #ffffff;

$invertedBackgroundColor: #090127;

/*---   Social colors  ---*/
$facebook: #3b5998;
$twitter: #0084b4;
$youtube: #ff0000;
$reddit: #ff5700;
$patreon: #f96854;

$dividerMargin: 25px;
