/*---  Colors  ---*/
$red: #c23616;
$orange: #fa8231;
$yellow: #e1b12c;
$olive: #6ab04c;
$green: #44bd32;
$teal: #0fb9b1;
$blue: #0097e6;
$violet: #6435c9;
$purple: #8c7ae6;
$pink: #e03997;
$brown: #a5673f;
$grey: #718093;
$black: #2f3640;

/*---  Light Colors  ---*/
$lightRed: #e84118;
$lightOrange: #fd9644;
$lightYellow: #fbc531;
$lightOlive: #badc58;
$lightGreen: #4cd137;
$lightTeal: #2bcbba;
$lightBlue: #00a8ff;
$lightViolet: #a291fb;
$lightPurple: #9c88ff;
$lightPink: #ff8edf;
$lightBrown: #d67c1c;
$lightGrey: #7f8fa6;
$lightBlack: #353b48;

/*---   Neutrals  ---*/
$fullBlack: #000000;
$offWhite: #f9fafb;
$darkWhite: #f3f4f5;
$midWhite: #dcddde;
$white: #ffffff;

$invertedBackgroundColor: #090127;

/*---   Social colors  ---*/
$facebook: #3b5998;
$twitter: #0084b4;
$youtube: #ff0000;
$reddit: #ff5700;
$patreon: #f96854;

$dividerMargin: 25px;
