/*---  Colors  ---*/
$red: #eb4d4b;
$orange: #f0932b;
$yellow: #f9ca24;
$olive: #6ab04c;
$green: #6ab04c;
$teal: #22a6b3;
$blue: #4834d4;
$violet: #6435c9;
$purple: #be2edd;;
$pink: #e03997;
$brown: #a5673f;
$grey: #718093;
$black: #2f3640;

/*---  Light Colors  ---*/
$lightRed: #ff7979;
$lightOrange: #ffbe76;
$lightYellow: #f6e58d;
$lightOlive: #badc58;
$lightGreen: #badc58;
$lightTeal: #7ed6df;
$lightBlue: #686de0;
$lightViolet: #a291fb;
$lightPurple: #e056fd;
$lightPink: #ff8edf;
$lightBrown: #d67c1c;
$lightGrey: #7f8fa6;
$lightBlack: #353b48;

/*---   Neutrals  ---*/
$fullBlack: #000000;
$offWhite: #f9fafb;
$darkWhite: #f3f4f5;
$midWhite: #dcddde;
$white: #ffffff;

$invertedBackgroundColor: #050505;

/*---   Social colors  ---*/
$facebook: #3b5998;
$twitter: #0084b4;
$youtube: #ff0000;
$reddit: #ff5700;
$patreon: #f96854;

$dividerMargin: 25px;
