@import "../../scss/_colors.scss";

.pageFooterComponent {
    .ui.segment {
        border-top: solid 1px $midWhite;
        padding: 5em 0em;
        
        &.inverted {
            border-top: none;
        }
    }
}
