@import "../../scss/_colors.scss";

.pageFooterComponent {
    .ui.segment {
        border-top: solid 1px $midWhite;
        padding: 4em 0em;
        
        &.inverted {
            border-top: solid 1px rgba(255, 255, 255, 0.1);
        }

        .emojiMarginLeft {
            margin-left: 9px;
        }

        .etherLink {
            color: $white;
            text-decoration: underline;
            word-break: break-all;
        }
    }
}
