@import "../../scss/_colors.scss";

.pageFooterComponent {
    .ui.segment {
        border-top: solid 1px $midWhite;
        padding: 4em 0em;
        
        &.inverted {
            border-top: none;

            @media only screen and (max-width: 1025px) {
                border-top: solid 1px rgba(255, 255, 255, 0.1);
            }
        }

        .emojiMarginLeft {
            margin-left: 9px;
        }
    }
}
